h1 {
  color:rgb(245, 67, 67);
}

.shu-uni {
    color: #008cdd;      
    font-size: 2.3rem;  
    font-weight: bold;  
}


.subheading {
  color: #ddce00;      
    font-size: 2.0rem;  
    font-weight: bold;  
}

.mb-0-hi{
  color:#008cdd ;
  font-size: 2.3rem;
  font-weight: bold; 
}

.fa-life {
  margin: 25px;
}

.main-bg {
    background-color: #daf0fa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}